{
    "printWidth": 119,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
    "tailwindFunctions": ["clsx"],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy", "classProperties"],
    "importOrderTypeScriptVersion": "5.3.3",
    "importOrder": [
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@$",
        "^@/(.*)$",
        "",
        "^@next$",
        "^@next/(.*)$",
        "",
        "",
        "^@react$",
        "^@react/(.*)$",
        "",
        "^@chrome$",
        "^@chrome/(.*)$",
        "",
        "^@ui$",
        "^@ui/(.*)$",
        "",
        "^[.]",
        "",
        "^(?!.*[.]css$)[./].*$",
        ".css$"
    ]
}
